/* Header animation */
@keyframes headerAnimation {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  .header-animation {
    animation: headerAnimation 1s ease-out;
  }
  
  /* Slide in animations */
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0%);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 1s ease-out;
  }
  
  .slide-in-right {
    animation: slideInRight 1s ease-out;
  }
  
  /* Expand on hover */
  .information-container:hover,
  .output-container:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease-in-out;
  }
  

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
  