.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 500px;
    height: 400px;
    border: 3px solid #15C39A;
    box-shadow: 0px 0px 25px 14px rgba(0, 0, 0, 0.15);
    margin: 20vh auto;
    opacity: 0; /* Add this line */
    border-radius: 6px;
    transform: translateY(50px);
}

.heading {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 300px;
}

form {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

h4 {
    color: var(--primary-gray);
    font-size: 22px;
}

a {
    text-decoration: none;
    font-size: 12px;
    color: var(--lighter-gray);
}

input {
    width: 300px;
    height: 40px;
    border: 1px solid #000000;
    border-radius: 6px;
    padding: 10px;
    font-size: 12px;
}

.login-anchors {
    text-decoration: underline;
}

@keyframes appear {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .appear {
    animation: appear 1s ease-in-out forwards
  }
  

/* input::placeholder {
    padding: 10px;
}
input::-webkit-input-placeholder {
    padding: 10px;
}
  
input::-moz-placeholder {
    padding: 10px;
}
  
input:-ms-input-placeholder {
    padding: 10px;
} */


#login-btn {
    width: 110px;
    height: 40px;
    background: #119C7B;
    border-radius: 6px;
    border: none;
    color: white ;
    font-size: 14px;
}

#login-btn:hover{
    transition: 0.2s ease-in-out;
    background: white;
    border: 1px solid #000000;
    color: var(--primary-gray);
    cursor: pointer;
}